---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Home from './Home.astro';
import Model3 from './Model3.astro';
import ModelS from './ModelS.astro';
import ModelX from './ModelX.astro';
import ModelY from './ModelY.astro';
---

<Layout>
	<Header />
	<main class='snap-y snap-mandatory'>
		<Home />
		<ModelS />
		<Model3 />
		<ModelX />
		<ModelY />
	</main>
</Layout>
