---
import Header from '../components/Header.astro';
import Panel from '../components/Panel.astro';
import Layout from '../layouts/Layout.astro';
import Accessories from './Accessories.astro';
import Home from './Home.astro';
import Model3 from './Model3.astro';
import ModelS from './ModelS.astro';
import ModelX from './ModelX.astro';
import ModelY from './ModelY.astro';
import SolarPanels from './SolarPanels.astro';
import SolarRoof from './SolarRoof.astro';
---

<script src='../scripts/index.js'></script>

<Layout>
	<Header />
	<Panel />
	<main class='snap-y snap-mandatory relative h-screen overflow-scroll'>
		<Home />
		<ModelS />
		<Model3 />
		<ModelX />
		<ModelY />
		<SolarPanels />
		<SolarRoof />
		<Accessories />
	</main>
</Layout>
