---
import LayoutSection from '../layouts/LayoutSection.astro';
import modelS from '/assets/images/Model-S-homepage-desktop.avif';
---

<LayoutSection
	sectionTitle='model s'
	sectionLegend='view inventory'
	heroImage={modelS}>
	<div class='absolute bg-red-600 bottom-16'>
		<nav class='bg-red-700'>
			<ul class=''>
				<li>
					<a href=''>order now</a>
				</li>
				<li>
					<a href=''>demo drive</a>
				</li>
			</ul>
		</nav>
	</div>
</LayoutSection>
