---
import closeIcon from '/assets/icons/close.svg';
import { MENU_ITEMS } from '../share/constants';
---

<aside
	id='panel'
	class='fixed top-0 -right-full w-1/5 h-full bg-white p-6 z-10 transition-all duration-300 ease-in-out'>
	<header class='w-full bg-white h-16 flex justify-end'>
		<button id='close-btn'>
			<img src={closeIcon} alt='icon close' />
		</button>
	</header>
	<ul class='flex flex-col gap-6 overflow-y-scroll h-[700px]'>
		{MENU_ITEMS.PANEL.map((item) => <li>{item.label}</li>)}
	</ul>
</aside>
