---
import closeIcon from '/assets/icons/close.svg';
import { MENU_ITEMS } from '../share/constants';
---

<script>
	const panel = document.getElementById('panel');
	const $main = document.querySelector('main');
	const $header = document.getElementById('header');
	document.addEventListener('click', (e) => {
		if (e.target.matches('#close-btn') || e.target.matches('#close-btn *')) {
			e.preventDefault();
			console.log('cerrar panel');
			panel.classList.remove('right-0');
			panel.classList.add('-right-full');
			$main.classList.remove('blur-sm');
			$header.classList.remove('blur-sm');
		}
	});
</script>

<aside
	id='panel'
	class='fixed top-0 -right-full w-1/5 h-full bg-white p-6 z-10 transition-all duration-300 ease-out'>
	<header class='w-full bg-white h-16 flex justify-end'>
		<button id='close-btn'>
			<img src={closeIcon} alt='icon close' />
		</button>
	</header>
	<ul class='flex flex-col gap-6 overflow-y-scroll bg-red-400'>
		{MENU_ITEMS.PANEL.map((item) => <li>{item.label}</li>)}
	</ul>
</aside>
