---
const { sectionTitle, sectionLegend, heroImage } = Astro.props;
---

<section
	id='section'
	data-color='#000'
	class='w-full h-screen snap-center bg-black overflow-hidden relative'>
	<div
		class='w-full h-full snap-center flex flex-col items-center text-white z-30 relative top-16'>
		<header class='flex flex-col items-center gap-2'>
			<h2
				class='text-black capitalize font-semibold text-5xl tracking-wider mt-12'>
				{sectionTitle}
			</h2>
			<a
				href=''
				class='text-black font-light capitalize underline decoration-solid underline-offset-4'
				>{sectionLegend}</a
			>
		</header>
		<footer class='flex flex-col flex-grow justify-end pb-28'>
			<slot />
		</footer>
	</div>
	<div class='h-screen absolute top-0 bottom-0 w-full'>
		<img
			src={heroImage}
			alt={sectionTitle}
			class='object-cover w-full h-full'
		/>
	</div>
</section>
