---
const { sectionTitle, sectionLegend, heroImage } = Astro.props;
---

<section
	id='section'
	data-color='#000'
	class='relative snap-always snap-center outline outline-2 outline-indigo-400'>
	<div class='absolute'>
		<h2>{sectionTitle}</h2>
		<p>{sectionLegend}</p>
	</div>
	<div class='h-full w-full'>
		<img
			src={heroImage}
			alt={sectionTitle}
			class='object-cover object-center max-w-full h-auto'
		/>
	</div>
	<slot />
</section>
